OPENAI_KEY=your_openai_proxy_key
OPENAI_BASE_URL=https://api.proxyapi.ru/openai/v1
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

PINECONE_API_KEY=your_pinecone_key
PINECONE_ENVIRONMENT=aws:us-east-1
PINECONE_INDEX_NAME=semantic-cars
PINECONE_EMBEDDING_DIM=1536
PINECONE_METRIC=cosine
